/* @import "~antd/dist/antd.css"; */

.alpha-list {
  width: 350px;
  height: 400px;
  background-color: #222;
  padding-right: 4px;
  padding-left: 4px;
}
body {
  margin: 0;
  padding: 8px;
  font-family: sans-serif;
  user-select: none;
}
.ant-tag {
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 12px;
  line-height: 22px;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.alphabet-tag {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  display: inline-block;
  height: auto;
  margin-right: 8px;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  border-radius: 2px;
  cursor: default;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 12px;
  line-height: 22px;
}
